<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORDER THE PRODUCT</title>
</head>
<body>
    <h1>ORDER THE PRODUCT</h1>
    <form action="/pay" method="post">
        <label for="">
            your full name
            <input type="text" name="fullName" id="">
        </label>
        <hr>
        <label for="">
            email address
            <input type="email" name="emailAddress" id="">
        </label>
        <hr>
        <label for="">
            your phone
            <input type="text" name="phoneNumber" id="">
        </label>
        <hr>
        <hr>
        <button>PAY</button>
    </form>
</body>
</html>